<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <!-- (1) Optimize for mobile versions: http://goo.gl/EOpFl -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- (1) force latest IE rendering engine: bit.ly/1c8EiC9 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{meta_title}}">
    <meta name="twitter:description" content="{{meta_description}}">
    <meta name="twitter:site" content="https://nem.ghost.io/"> <!-- Change this to your URL -->
<meta name="twitter:creator" content="@nemofficial"> <!-- Change this to your Twitter Handel -->
    <meta name="google-site-verification" content="">
    <meta property="fb:admins" content="">
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{meta_title}}">
    <meta property="og:description" content="{{meta_description}}">

    <link href="/Favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="{{asset "js/styles/obsidian.css"}}">
    <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Linux+Libertine:400,400i,700,700i/Roboto:400,400i,700,700i">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" media="screen" href="{{asset "css/main.css"}}" />
    <link rel="stylesheet" type="text/css" media="print" href="{{asset "css/print.css"}}" />
    <link rel="stylesheet" type="text/css" href="//cdn.muut.com/latest/moot.css">
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">
    <div class="warning alert" id ="headerIE"></div>
<div class="container nav-container">
<div class="row">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://nem.io/"><img class="inject-me" src="{{asset "img/nemlogo.svg"}}"/></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="http://nem.io/install.html"><span>CLIENT</span></a></li>
        <li><a href="http://nem.io/#buyheader"><span>BUY XEM</span></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span>SUPPORT <span class="caret"></span></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="http://nem.io/faq.html">FAQ's</a></li>
            <li><a href="http://blog.nem.io/nem-tutorial-list/">TUTORIALS</a></li>
            <li><a href="http://wiki.nem.io/index.php/Main_Page">WIKI</a></li>
          </ul>
        </li>
        <li><a href="http://nemflash.com/"><span>UPDATES</span></a></li>
        <li><a href="http://blog.nem.io/"><span>BLOG</span></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>
</div>
    <!-- <a href="{{@blog.url}}" class="logo-readium"><span class="logo" style="background-image: url({{@blog.logo}})"></span></a> -->
    {{! Everything else gets inserted here }}
    {{{body}}}

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! The main JavaScript file for Casper }}
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>
    <script src="{{asset "js/readingTime.min.js"}}"></script>
    <script src="{{asset "js/highlight.pack.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/svg-injector.js"}}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script>
     // Elements to inject
     var mySVGsToInject = document.querySelectorAll('img.inject-me');

     // Do the injection
     SVGInjector(mySVGsToInject);
   </script>
    <script>
                function GetIEVersion() {
	var sAgent = window.navigator.userAgent;
	var Idx = sAgent.indexOf("MSIE");
	// If IE, return version number.
		if (Idx > 0)
			return parseInt(sAgent.substring(Idx+ 5, sAgent.indexOf(".", Idx)));
		// If IE 11 then look for Updated user agent string.
		else if (!!navigator.userAgent.match(/Trident\/7\./))
			return 11;
		else
			return 0; //It is not IE
		}
		if (GetIEVersion() > 0)
		var txt="It looks like you are using Internet Explorer, for the best experience, you should view this site in ";
		var or=" or ";
		var firefox="<a href=\"https://www.mozilla.org/en-US/firefox/new/\">Firefox</a>";
		var chrome="<a href=\"http://www.google.com/chrome/\">Chrome</a>";
		var cancel = "<i class=\"icon-cancel-circled\" onclick=\"parentNode.remove()\"></i>";
		document.getElementById("headerIE").innerHTML=txt+chrome+or+firefox+cancel;
		if (GetIEVersion() == 0)
		var elem = document.getElementById("headerIE");
		elem.parentNode.removeChild(elem);
    </script>
    <script>

      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-60356672-2', 'nem.ghost.io');
      ga('send', 'pageview');

    </script>

</body>
</html>
