{{!< default}}


{{#author}}
<div class="author-banner {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="inner author-inner">
                    {{#if image}}
                    <figure class="author-image">
                        <div class="img" style="background-image: url({{image}})"><span class="hidden">{{name}}'s Picture</span></div>
                    </figure>
                    {{/if}}
                    <h1 class="page-title">{{@blog.title}}</h1>
                    {{#if bio}}
                        <h2 class="author-bio">{{bio}}</h2>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>
{{/author}}


<div class="container" role="main">
    <div class="row">
        <div class="col-md-12">
            {{> "loop"}}
        </div>
    </div>
</div>
