<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="https://ghost.org/assets/favicon-e13fe17b11ad125601924cfb260f20da.ico">

    {{! Styles'n'Scripts }}
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link href="https://ghost.org/assets/application-b28ae7a39daa8bb1cafe1e9aa145df74.css" media="all" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />

    <meta property="twitter:site" content="@TryGhost">
    <meta property="twitter:domain" content="Ghost.org" />
    <meta property="og:site_name" content="Ghost" />
    <meta property="fb:admins" content="511697361" />

    {{ghost_head}}
</head>
<body class="{{body_class}}">
    <div id="fb-root"></div>
    <header id="global-header" class="global-header navbar">
       <nav role="navigation">
           <div class="wrapper">
               <a class="ghost-logo" href="https://ghost.org/"><span>Ghost</span></a>
               <button type="button" class="mobile-menu" data-toggle="closed" data-target=".nav-collapse">
               <span class="hidden">Menu</span>
               </button>
               <ul id="main-menu" class="nav-collapse closed">
                   <li><a href="//ghost.org/about/">About</a></li>
                   <li><a href="http://marketplace.ghost.org">Marketplace</a></li>
                   <li><a href="http://support.ghost.org/">Support</a></li>
                   <li class="current extra"><a href="//blog.ghost.org">Blog</a></li>
                   <li><a class="signup" href="//ghost.org/signup/">Sign Up</a></li>
                   <li><a class="login" href="//ghost.org/login/">Log in</a></li>
               </ul>
           </div>
        </nav>
    </header>

    <main class="blog-wrapper" role="main">
        <header class="blog-header">
            <nav class="blog-nav">
                {{navigation}}
            </nav>
        </header>
        <div class="page-wrapper">
            {{{body}}}
            <div class="clearfix"></div>
        </div>
    </main>

    <div class="modal fade" id="blogsubscribe" tabindex="-1" role="dialog" aria-labelledby="Email subscription modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <header class="modal-header">
                    <h4 class="modal-title">The latest content, once per week.</h4>
                    <a class="modal-close" data-dismiss="modal" aria-hidden="true" href="#"><span class="hidden">Close</span></a>
                </header>
                <div class="modal-body">
                    <form action="{{! populated via code injection}}" method="post">
                        <input id="fieldEmail" name="{{! populated via code injection}}" type="email" placeholder="Your email address" required />
                        <button class="button-add wide" type="submit">Send me the good stuff</button>
                        <p><strong>Privacy policy:</strong> No spam. No jibber jabber. Unsubscribe any time.</p>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <footer id="global-footer">
        <nav id="footer-nav" role="navigation">
            <ul id="footer-menu">
                <li class="logo"><a href="/"><img alt="Ghost" src="https://ghost.org/assets/logo-minighost-0f5476cf6a52adff2f2a67e4f16d3e29.png"></a></li>
                <li><a class="" href="//ghost.org/about/">About</a></li>
                <li><a href="http://status.ghost.org">Status</a></li>
                <li><a class="" href="//ghost.org/pricing/">Pricing</a></li>
                <li><a href="http://blog.ghost.org">Blog</a></li>
                <li><a class="" href="//ghost.org/about/terms/">Terms</a></li>
                <li><a class="" href="//ghost.org/about/privacy/">Privacy</a></li>
                <li><a class="" href="//ghost.org/about/contact/">Contact</a></li>
            </ul>
            <div class="clearfix"></div>

            <span class="poweredby"><img alt="Ghost" src="https://ghost.org/assets/logo-minidigitalocean-1bb39c0755ac79befc56ca39d7889eb5.png"> Powered <em>by</em> <a href="https://digitalocean.com" target="_blank">DigitalOcean</a></span>

            <ul id="social-menu">
                <li class="github"><a href="https://github.com/tryghost/Ghost"><span class="hidden">Github</span></a></li>
                <li class="twitter"><a href="https://twitter.com/tryghost"><span class="hidden">Twitter</span></a></li>
                <li class="gplus"><a href="https://plus.google.com/u/0/b/114465948129362706086/114465948129362706086/posts"><span class="hidden">Google+</span></a></li>
                <li class="facebook"><a href="https://www.facebook.com/ghost"><span class="hidden">Facebook</span></a></li>
            </ul>

        </nav>
        <div class="clearfix"></div>
    </footer>

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    {{ghost_foot}}

    <script src="https://ghost.org/navigation/"></script>

    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/prism.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>

</body>
</html>
