<!DOCTYPE html>
<html>
<head>
    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Page Meta --}}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    {{!-- Mobile Meta --}}
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    {{!-- Brand icon --}}
    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{!-- Styles'n'Scripts --}}
    <!-- Google Fonts Merriweather, Open+Sans -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" />

    <!-- NOT-Minified version from original provided in Casper's Theme 'screen.css' @_pascalandy -->
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    
    <!-- Normalize CSS (4.1.1) @_pascalandy -->
    <link rel="stylesheet" type="text/css" href="/assets/custom-firepress/css-normalize/normalize.css">
    
    <!-- CSS simplegrid @_pascalandy -->
    <link rel="stylesheet" type="text/css" href="/assets/custom-firepress/css-simplegrid/simplegrid.css" />
    
    <!-- CSS unicorn-ui @_pascalandy -->
    <link rel="stylesheet" type="text/css" href="/assets/custom-firepress/css-unicorn/buttons.min.css" />
    
    <!-- CSS font-awesome @_pascalandy -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    
    <!-- CSS Code syntax highlightjs @_pascalandy -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/styles/default.min.css">

    <!-- CSS @_pascalandy -->

    {{!-- Ghost outputs important style and meta data with this tag --}}
    {{ghost_head}}

</head>

<body class="{{body_class}} nav-closed">

    {{!-- The blog navigation links --}}
    {{navigation}}


    <div class="site-wrapper">

        {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
        {{{body}}}

        {{!-- The tiny footer at the very bottom --}}
        {{!-- left out
	<footer class="site-footer clearfix">
            <section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
            <section class="poweredby">Proudly published with <a href="https://ghost.org">Ghost</a></section>
        </footer>
	left out ends --}}

    </div>

    {{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    {{!-- Ghost outputs important scripts and data with this tag --}}
    {{ghost_foot}}
    {{!-- Fitvids makes video embeds responsive and awesome --}}
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    {{!-- The main JavaScript file for Casper --}}
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>

    <!-- Markdown code syntax highlighting highlightjs @_pascalandy -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <!-- disqus code begins @_pascalandy -->
    <!--
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'tk-username'; // required: replace example with your forum shortname
        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = '//' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
    </script>
    -->
    <!-- disqus code ends -->

</body>
</html>
