{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

<main class="content" role="main">
    <article class="{{post_class}}">

        <header class="post-header">
            <h1 class="post-title">{{title}}</h1>
            <section class="post-meta">
                <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
            </section>
        </header>

        <section class="post-content">
            {{content}}
        </section>

        <section class="grid" style="padding-top: 1em;">
            <div class="grid__item   two-thirds palm--one-whole">
                <p class="Tags">
                    {{tags separator=""}}
                </p>
            </div><!--
         --><div class="grid__item   one-third palm--one-whole">
                <div class="Social-share u-textRight">
                    <h4>Share this post</h4>
                    <a class="icon-twitter" href="https://twitter.com/share?text={{encode title}}&amp;url=http://blog.cloud66.com{{url}}"
                        onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                        <span class="hidden">Twitter</span>
                    </a>
                    <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u=http://blog.cloud66.com{{url}}"
                        onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                        <span class="hidden">Facebook</span>
                    </a>
                    <a class="icon-google-plus" href="https://plus.google.com/share?url=http://blog.cloud66.com{{url}}"
                       onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                        <span class="hidden">Google+</span>
                    </a>
                </div>
            </div>
        </section>

        <footer class="post-footer">

        {{! Everything inside the #author tags pulls data from the author }}
        {{#author}}

            {{#if image}}
            <figure class="author-image">
                <a class="img" href="{{url}}" style="background-image: url({{image}})"><span class="hidden">{{name}}'s Picture</span></a>
            </figure>
            {{/if}}

            <section class="author">
                <h4><a href="{{url}}">{{name}}</a></h4>

                {{#if bio}}
                    <p>{{bio}}</p>
                {{else}}
                    <p>Read <a href="{{url}}">more posts</a> by this author.</p>
                {{/if}}
                <div class="author-meta">
                    {{#if location}}<span class="author-location icon-location">{{location}}</span>{{/if}}
                    {{#if website}}<span class="author-link icon-link"><a href="{{website}}">{{website}}</a></span>{{/if}}
                </div>
            </section>

        {{/author}}

            <section class="subs">
                <h6>Subscribe and get updates</h6>
                <form class="Form Form--inlined" action="//cloud66.us2.list-manage.com/subscribe/post?u=c235c9b1e4e61d7d48c7b7d5b&amp;id=9a8a993f85" method="post">
                    <input class="Form-field Form-field--inlined" style="width:81%" input="" id="fieldEmail" name="EMAIL" type="email" placeholder="Your Email Address" required>
                    <button class="Button Button--pri Button--field" type="submit" id="sign-up-btn">Sign Up!</button>
                </form>
                <p style="margin: 22px 0 0 4px">
                    Have feedback? Please get in touch <b><a href="http://www.twitter.com/cloud66">@cloud66</a></b> on Twitter.
                </p>
            </section>
            {{! CTA partial }}
            {{> "cta"}}

        </footer>

    </article>
</main>

<aside class="read-next">
    {{#next_post}}
    <a class="read-next-story {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
        <section class="post">
            <h2>{{title}}</h2>
            <p>{{excerpt words="19"}}&hellip;</p>
        </section>
    </a>
    {{/next_post}}
    {{#prev_post}}
    <a class="read-next-story prev {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
        <section class="post">
            <h2>{{title}}</h2>
            <p>{{excerpt words="19"}}&hellip;</p>
        </section>
    </a>
    {{/prev_post}}
</aside>

{{/post}}

{{> "footer"}}
