{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}
<article class="post-excerpt-wrapper{{#if image}} post-image" style="background-image: url({{image}});{{/if}}">
    <div class="{{post_class}}">
        <header class="post-header">
            <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
        </header>
        <section class="post-excerpt">
            <a class="read-more" href="{{url}}"><p>{{#if meta_description}}{{meta_description}}{{else}}{{excerpt words="26"}}{{/if}}</p></a>
        </section>
        <footer class="post-meta">
            {{!--
            {{#if author.image}}<img class="author-thumb" src="{{author.image}}" alt="Author image" nopin="nopin" />{{/if}}
            --}}
            {{author}}
            {{tags prefix=" on "}}
            <br>
            <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
        </footer>
    </div>
</article>
{{/foreach}}

{{!-- Previous/next page links - displayed on every page --}}
{{pagination}}
