{{!< default}}

<div id="post-index" class="container full">
    <div class="post-list">
        <div id="scroller" flex horizontal center-justified layout wrap>
            {{#foreach posts}}
                <paper-shadow class="card {{post_class}}" z="3" style="background-image: url({{image}})">
                    <div class="header">
                        <a href="{{url}}" class="feed-link" title="{{title}}">{{title}}</a>
                    </div>
                    <div class="footer" flex horizontal center-justified layout wrap>
                        <div class="social-shares" data-url="{{@blog.url}}{{url}}" data-text="{{title}} - {{@blog.title}}"></div>
                    </div>
                </paper-shadow>
            {{/foreach}}
        </div>
    </div>
    <div class="post-navigation">
        {{#if pagination.prev}}
            {{pagination}}
        {{else}}
            {{#if pagination.next}}
                {{pagination}}
            {{/if}}
        {{/if}}
    </div>
</div>
